html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  max-width: 70%; /* Important to avoid screen growing more that the viewport */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#dom-renderer {
  color: #fff;
  pointer-events: none;
}

#dom-renderer div {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
  padding: 0 0.5rem;
  user-select: none;
  background-color: #c40404;
}

#dom-renderer div:hover {
  color: #000;
  background-color: #fff;
}